<form [formGroup]="questionForm" (ngSubmit)="saveQuestions()">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <b>Questions Form</b>
        </h4>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <span class="text-muted">
            <em>
              <span style="color:red;">*</span> Indicates required field</em>
          </span>
        </div>
        <!-- Course Name -->
        <div class="col-md-6">
          <!-- Question  -->
          <div class="form-group">
              <label for="name">Chapter Name
                <span style="color:red;">*</span>
              </label>
              <p class="course">{{chapterName}}</p>
            </div>
          <!-- Question  -->
          <div class="form-group">
            <label for="name">Question 
              <span style="color:red;">*</span>
            </label>
            <input id="name" type="text" class="form-control" formControlName="name">
            <p *ngIf="questionForm.controls.name.hasError('required') &&
                 questionForm.controls.name.touched" class="small text-danger formErrors">Chapter Name is required
            </p>
          </div>
        </div>
        <!-- Chapter Status -->

        <div class="col-md-6">
          <div class="form-group checkbox-form">
            <label for="name">Options 
              <span style="color:red;">*</span>
            </label>
            <div class="form-inline ">
                <input id="name" type="checkbox" formControlName="answers" value="HFHFG">
                <input id="name" type="text" class="form-control"   formControlName="option1" placeholder="Option-1">                
                <label *ngIf="questionForm.controls.option1.hasError('required') &&
                        questionForm.controls.option1.touched" class="small text-danger formErrors">Option 1 is required
            </label>
            </div>
            <div class="form-inline">
                <input id="name" type="checkbox" formControlName="answers" value="HFHFG">
                <input id="name" type="text" class="form-control"   formControlName="option2" placeholder="Option-2">                
                <label *ngIf="questionForm.controls.option2.hasError('required') &&
                        questionForm.controls.option2.touched" class="small text-danger formErrors">Option 2 is required
            </label>
            </div>
            <div class="form-inline">
                <input id="name" type="checkbox" formControlName="answers" value="HFHFG">
                <input id="name" type="text" class="form-control"   formControlName="option3" placeholder="Option-3">                
                <label *ngIf="questionForm.controls.option3.hasError('required') &&
                        questionForm.controls.option3.touched" class="small text-danger formErrors">Option 3 is required
            </label>
            </div>
            <div class="form-inline">
                <input id="name" type="checkbox" formControlName="answers" value="HFHFG">
                <input id="name" type="text" class="form-control"   formControlName="option4" placeholder="Option-4">                
                <label *ngIf="questionForm.controls.option4.hasError('required') &&
                        questionForm.controls.option4.touched" class="small text-danger formErrors">Option 4 is required
            </label>
            </div>
          </div>
        </div>
        <!-- Submit -->
        <div class="form-group" style="text-align: center;">
          <button type="submit" class="btn btn-primary" [attr.disabled]="questionForm.invalid || submitting ? true : null" [innerText]="submitBtnText"></button>
          <!-- <app-submitting *ngIf="submitting"></app-submitting> -->
          <a *ngIf="!submitting" class="btn btn-link" (click)="resetForm()" tabindex="0">Reset Form</a>
          <!-- API submission error -->
          <p *ngIf="error" class="mt-3 alert alert-danger">
            <strong>Error:</strong> There was a problem submitting the form. Please try again.
          </p>
        </div>
      </div>
    </div>
  </form>