
<table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage">
    <thead>
        <tr>
            <th style="width: 30%">
                <mfDefaultSorter by="name">Chapter Name</mfDefaultSorter>
            </th>
            <th style="width: 50%">
                <mfDefaultSorter by="description">Chapter Description</mfDefaultSorter>
            </th>
            <th style="width: 10%">
                <mfDefaultSorter by="status">status</mfDefaultSorter>
            </th>
            <th style="width: 10%">
                <mfDefaultSorter by="status">Action</mfDefaultSorter>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let chapter of mf.data;index as i ">
            <td>{{chapter.name}}</td>
            <td>{{chapter.description}}</td>
            <td>{{chapter.status | uppercase}}</td>
            <td>
                <a (click)="deleteChapter(chapter.id,i)">
                    <i class="fa fa-trash"></i>
                </a>
                <a [routerLink]="['/admin/chapter/update',chapter.id]" [queryParams]="{ courseName: chapter?.course?.name,courseId:chapter?.course?.id }">
                    /
                    <i class="fa fa-pencil"></i>
                </a>
                <a [routerLink]="['/admin/chapter/view',chapter.id]">
                    /
                    <i class="fa fa-eye"></i>
                </a>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                <mfBootstrapPaginator></mfBootstrapPaginator>
            </td>
        </tr>
    </tfoot>
</table>